body {
    background-image: url(../img/signup_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
}

.about_centralizer {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;
}

    .about {
        width: 50%;

        padding: 3% 2.5%;
        margin: 10% 0 5% 0;
    
        background-color: #000000CC;
    
        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;

        align-items: center;
    }

        .about b {
            color: #DBCD7C;
            font-size: 25px;

            text-align: center;
        }

        .about p {
            color: #FFF;
            font-size: 17.5px;

            text-align: center;
        }

        .about img {
            width: 300px;
        }

    .series {
        width: 50%;

        padding: 3% 2.5%;
        margin: 3% 0 5% 0;
    
        background-color: #000000CC;
    
        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;

        align-items: center;
    }

        .series b {
            color: #DBCD7C;
            font-size: 25px;

            text-align: center;
        }

        .series p {
            color: #FFF;
            font-size: 15px;

            text-align: center;
        }

        .series_boxes {
            width: 100%;

            margin-top: 50px;

            display: flex;

            align-items: center;
            justify-content: space-evenly;
        }

            .series_box {
                height: 250px;
                width: 200px;

                display: flex;
                flex-flow: column nowrap;

                align-items: center;
                justify-content: flex-start;
            }

                .series_box img {
                    height: 80%;
                    width: 80%;

                    margin-bottom: 10px;
                }

                .series_box:hover {
                    opacity: 30%;

                    transition-duration: 0.2s;
                }