body {
    margin: 0;

    background-color: #000;

    font-family: 'MedievalSharp', sans-serif;
}

p {
    margin: 0;

    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: inherit;

    cursor: pointer;
}

b {
    text-align: center;
}

button {
    border: none;

    font-family: 'MedievalSharp', sans-serif;
    text-transform: uppercase;

    cursor: pointer;
}

input {
    width: 230px;

    background-color: transparent;

    border: none;
    outline: none;

    border-bottom: 1px solid #4A37A3;

    font-family: 'MedievalSharp', sans-serif;
    font-size: 20px;
    color: #FFFFFFAA;

    text-align: center;
}

    input:focus {
        border-bottom: 1px solid #DBCD7C;
        transition-duration: 0.2s;
    }

.button1 {
    background-color: #4A37A3;

    padding: 7.5px;

    color: #FFF;

    border-radius: 10px;
    
    cursor: pointer;

    text-align: center;
    text-transform: uppercase;
}

.button2 {
    background-color: transparent;

    padding: 7.5px;

    color: #FFF;

    border: 1px solid #4A37A3;
    border-radius: 10px;

    cursor: pointer;

    text-align: center;
    text-transform: uppercase;
}

.button1:hover,
.button2:hover,
a:hover {
    opacity: 50%;
    transition-duration: 0.2s;
}

/* --------------------- HEADER --------------------- */

.header {
    width: 100%;
    height: 80px;

    background: linear-gradient(#000, transparent);

    overflow: auto;

    position: fixed;

    display: flex;

    align-items: center;
    justify-content: center;
}

    .navbar {
        height: 80px;
        width: 70%;

        color: #FFF;
        font-size: 20px;
        text-transform: uppercase;

        display: flex;

        align-items: center;
        justify-content: center;
    }
    
        .navbar ul {
            width: 70%;
            padding: 0;

            list-style: none;

            display: flex;

            align-items: center;
            justify-content: space-between;
        }

            .navbar b {
                color: #DBCD7C;
            }

            .navbar a {
                display: flex;

                align-items: center;
            }

            .navbar img {
                width: 20px;
            }

                .music {
                    display: flex;

                    align-items: center;
                    justify-content: center;
                }

                    .music img {
                        width: 20px;

                        margin-bottom: 5px;
                    }

                .currency {
                    display: flex;

                    align-items: center;
                    justify-content: center;
                }

                    .currency p {
                        margin-left: 10px;
                    }

                    .currency img {
                        width: 20px;

                        margin-bottom: 5px;
                    }