.navbar {
    width: 100%;
}

.hub_banner {
    height: 100vh;

    background-image: url(../img/store_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;

    align-items: center;
    justify-content: space-evenly;
}

    .main_hub {
        height: 70%;
        width: 45%;

        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-top: 5%;

        background-color: #000000AA;

        overflow: auto;

        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;

        align-items: center;
        justify-content: space-evenly;
    }

    .side_hub {
        height: 70%;
        width: 25%;

        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-top: 5%;

        background-color: #000000AA;

        overflow: auto;

        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;

        align-items: center;
        justify-content: space-evenly;
    }

        .side_hub b {
            color: #DBCD7C;
            font-size: 25px;
        }

        .side_hub p {
            color: #FFF;
            font-size: 20px;
        }

        .top10 {
            display: flex;
            flex-flow: column nowrap;
        }