.navbar {
    width: 100%;
}

body {
    background-image: url(../img/hub_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
}

.hub_centralizer {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;
}

    .hub_card {
        width: 30%;

        padding: 3% 2.5%;
        margin: 2.5% 0 5% 0;
    
        background-color: #000000CC;
    
        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;

        align-items: center;
    }

    .hub_card:nth-child(1) {
        margin: 10% 0 0 0;
    }

    .hub_wide_card {
        width: 50%;

        padding: 3% 2.5%;
        margin: 3% 0 5% 0;
    
        background-color: #000000CC;
    
        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;

        align-items: center;
    }

        .hub_card b,
        .hub_wide_card b {
            color: #DBCD7C;
            font-size: 25px;

            text-align: center;
        }

        .hub_card p,
        .hub_wide_card p {
            color: #FFF;
            font-size: 17.5px;

            text-align: center;
        }

            .top10 {
                width: 100%;

                margin-top: 50px;

                display: flex;
                flex-flow: column nowrap;

                align-items: center;
                justify-content: center;
            }

                .top10 > div {
                    width: 80%;

                    display: flex;

                    align-items: center;
                    justify-content: space-between;
                }

                .currency_top10 {
                    display: flex;

                    align-items: center;
                    justify-content: center;
                }

                    .currency_top10 p {
                        margin-left: 5px;
                    }

                    .currency_top10 img {
                        width: 20px;

                        margin-bottom: 5px;
                    }


        .posts {
            width: 100%;
        }

            .posts form {

                margin-top: 50px;
                
                display: flex;

                align-items: center;
                justify-content: space-evenly;
            }

                .posts form textarea {
                    width: 480px;
                    height: 50px;

                    padding: 20px;

                    background-color: transparent;

                    outline: none;

                    border: 2px solid #333;

                    font-family: 'MedievalSharp', sans-serif;
                    font-size: 17.5px;
                    color: #FFFFFFAA;

                    text-align: center;
                }

                .posts form button {
                    height: 50px;
                }

            .post {
                min-height: 100px;
                width: 100%;

                margin-top: 50px;

                border: 2px solid #333;
            }

                .author {
                    height: 20px;
                    width: 100%;

                    padding: 10px 0;

                    display: flex;
                    
                    align-items: center;
                    justify-content: center;
                }

                    .author div {
                        margin-left: 20px;
                        margin-right: 20px;
                    }

                .post_content {
                    min-height: 20px;
                    width: 100%;

                    padding: 30px 0;

                    border-top: 2px solid #333;
                    border-bottom: 2px solid #333;
                }

                .reactions {
                    height: 20px;
                    width: 100%;

                    padding: 10px 0;

                    display: flex;

                    align-items: center;
                    justify-content: center;
                }

                    .like, .dislike {
                        min-width: 20px;

                       display: flex; 
                       
                       align-items: center;
                       justify-content: flex-start;
                    }

                        .like img, .dislike img {
                            height: 20px;
                            width: 20px;

                            margin-right: 5px;

                            cursor: pointer;
                        }

                    .dislike {
                        margin-left: 20px;
                    }