.navbar {
    width: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
}

.profile_centralizer {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;
}

    .profile_wide_card {
        width: 50%;
        
        padding: 5% 2.5%;

        background-color: #000000CC;

        overflow: auto;

        border-radius: 10px;

        display: flex;
        flex-flow: column nowrap;

        align-items: center;
        justify-content: space-evenly;
    }

        .profile_card b,
        .profile_wide_card b {
            color: #DBCD7C;
            font-size: 25px;

            text-align: center;
        }

        .profile_wide_card > b {
            margin-bottom: 30px;
        }

        .profile_card p,
        .profile_wide_card p {
            color: #FFF;
            font-size: 17.5px;

            text-align: center;
        }

    .profile_wide_card:nth-child(1) {
        margin: 10% 0 0 0;
    }

    .profile_wide_card:nth-child(2) {
        margin: 5% 0;
    }

        .stats {
            width: 100%;

            display: flex;

            justify-content: space-evenly;
        }

            .stats_box {
                width: 45%;

                display: flex;
                flex-flow: column nowrap;

                align-items: center;
                justify-content: flex-start;
            }

            .stats_box:nth-child(2) {
                justify-content: center;
            }

            .wide_stats_box {
                width: 70%;

                display: flex;
                flex-flow: column nowrap;

                align-items: center;
                justify-content: flex-start;
            }

                .winrate_stats {
                    width: 100%;
                }

                    .winrate {
                        width: 100%;

                        display: flex;

                        align-items: center;
                        justify-content: space-evenly;
                    }

                        #wins_bar {
                            height: 20px;

                            border-radius: 5px 0 0 5px;

                            background-color: #4A37A3;
                        }

                        #losses_bar {
                            height: 20px;

                            border-radius: 0 5px 5px 0;

                            background-color: red;
                        }

                .match_history {
                    width: 100%;

                    margin-top: 30px;

                    border: 2px solid #333;

                    display: flex;
                    flex-flow: column nowrap;
                }

                    .match_history > p {
                        padding: 10px 0;
                    }
                
                    .history_box {
                        width: 100%;

                        display: flex;
                        flex-flow: column nowrap;

                        align-items: center;
                    }

                        .match {
                            width: 100%;

                            padding: 10px 0;

                            border-top: 2px solid #333;

                            display: flex;

                            align-items: center;
                            justify-content: space-evenly;
                        }

                            .match img {
                                width: 30px;

                                border-radius: 50%;
                            }

                            .coin_gain {
                                width: 90px;

                                display: flex;

                                align-items: center;
                            }

                                .coin_gain img {
                                    width: 25px;

                                    margin: 0 5px 5px 5px;
                                }


                .right_stats {                    
                    margin-top: 60px;

                    display: flex;
                    flex-flow: column nowrap;

                    align-items: center;
                    justify-content: center;
                }

                    .choices_stats {
                        margin-top: 20px;

                        width: 100%;

                        display: flex;

                        justify-content: space-evenly;
                    }

                    .right_stats .coin_gain {
                        margin-top: 20px;
                    }

                    .right_stats b {
                        margin-top: 20px;
                    }

                        .choices_stats img {
                            width: 50px;

                            margin: 0 10px;

                            border-radius: 50%;
                        }

                .purchase_stats {
                    width: 100%;

                    display: flex;

                    justify-content: space-evenly;
                }

                    .purchase_stats div {
                        display: flex;
                        flex-flow: column nowrap;

                        align-items: center;
                        justify-content: center;
                    }

                .purchase_history {
                    width: 100%;

                    margin-top: 30px;

                    border: 2px solid #333;

                    display: flex;
                    flex-flow: column nowrap;
                }

                    .purchase_history > p {
                        padding: 10px 0;
                    }
                
                    .history_box {
                        width: 100%;

                        display: flex;
                        flex-flow: column nowrap;

                        align-items: center;
                    }

                        .purchase {
                            width: 100%;

                            padding: 10px 0;

                            border-top: 2px solid #333;

                            display: flex;

                            align-items: center;
                            justify-content: space-evenly;
                        }

                            .purchase img {
                                width: 30px;

                                border-radius: 50%;
                            }

                            .purchase p:first-child {
                                width: 7.5%;

                                text-align: left;
                            }

                            .purchase p:last-child {
                                width: 40%;

                                text-align: left;
                            }

                            .price {
                                width: 20%;

                                display: flex;

                                align-items: center;
                                justify-content: flex-start;
                            }

                                .price img {
                                    width: 25px;

                                    margin: 0 5px 5px 0px;
                                }